{% extends 'base.html' %}
{% block title %} Food:- List {% endblock %}
{% block content %}

    <table class="table table-bordered col-6 offset-3">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Price--</td>
            <td>Discount%</td>
            <td>Cook</td>
            <td>Operations</td>
        </tr>
    </thead>

    <tbody>
    {% for item in list_food %}
        <tr>
            <td><a href="#">{{ item.id }}</a></td>
            <td>{{ item.name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.discount }}</td>
            <td>{{ item.cook }}</td>
            <td><a href="{% url 'cms:edit_food' id=item.id %}"> <button class="btn btn-outline-success"> Edit</button></a>
            <a href="{% url 'cms:delete_food' id=item.id %}"><button class="btn btn-outline-danger">Delete</button></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}