{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'cms:add_food' %}">
            {% csrf_token %}

            {{ food_form }}
        <!--Name: <input type="text" name="name"> <br>
        Price: <input type="number" name="price"><br>
        Qty: <input type="number" name="qty"><br>
        Discount: <input type="number" name="discount"><br>-->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
{% endblock %}