<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/bootstrap_4.5/css/bootstrap.min.css' %}">
    <script src="{% static 'frontend/bootstrap_4.5/js/bootstrap.min.js' %}"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cms:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cms:list_food' %}">List Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cms:add_food' %}">Add Food</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>