{% extends 'base.html' %}


{% block content %}
    <form method="post">
    {% csrf_token %}
        {{ form }}

        <button type="submit" class="btn btn-outline-dark">Update</button>
    </form>
{% endblock %}