<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>This is home page</h2>

<img src="{% static 'images/image.jpg' %}">

{{ list_friends }}

{% for item in list_friends %}

    {{ item }}

{% endfor %}

</body>
</html>